---
import { db, GuestBook } from "astro:db";

import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

// Watch for POST requests
if (Astro.request.method === "POST") {
  try {
    let formData = await Astro.request.formData();
    let author = formData.get("author");
    let content = formData.get("content");

    if (typeof author === "string" && typeof content === "string") {
      await db.insert(GuestBook).values({ author, content });

      return Astro.redirect("/");
    }
  } catch (error) {
    if (error instanceof Error) {
      console.log(error.message);
    }
  }
}

// Selects all entries from the GuestBook table
const guestBook = await db.select().from(GuestBook);
---

<Layout title="Welcome to Astro.">
  <main class="max-w-7xl mx-auto bg-zinc-100 p-10 min-h-screen w-full">
    <p class="mb-10">Welcome to Astro 🚀</p>

    <dl class="flex flex-col gap-5">
      {
        guestBook
          .sort(
            (a, b) =>
              new Date(b.timestamp).getTime() - new Date(a.timestamp).getTime()
          )
          .map(({ author, content, timestamp }) => (
            <Card author={author} content={content} timestamp={timestamp} />
          ))
      }
    </dl>

    <form method="POST" class="mt-10">
      <label for="author">
        Author
        <input id="author" name="author" />
      </label>

      <label for="content">
        Content
        <textarea id="content" name="content"></textarea>
      </label>

      <button type="reset">Cancel</button>
      <button type="submit">Leave your mark</button>
    </form>
  </main>
</Layout>
