---
interface Props {
  author: string;
  content: string;
  timestamp: Date;
}

const { timestamp, author, content } = Astro.props;
---

<!-- Create a card -->
<div class="bg-white p-4 shadow-md rounded-lg">
  <h2>{author}</h2>
  <p>{content}</p>
  <p>{timestamp}</p>
</div>
